<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="InstabugTask">
    <test name="SearchTestOnChrome">
        <classes>
            <class name="SearchTest.GoogleAssertions"/>
            <class name="SearchTest.GoogleFunction"/>
        </classes>
    </test>
</suite>